.search-form {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  border: solid darkgray;
  padding: 1.5em;
  box-shadow: 10px 24px 30px #777;
}

input {
  height: 2rem;
  padding: 0.5em;
  border-radius: 4px;
  flex-grow: 1;
}

button {
  color: #e2f3f5;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0.5em;
  margin-left: 0.5em;
  min-width: 7em;
  border-radius: 4px;
}

@media (min-width: 600px) {
  .search-form {
    margin: 2em 1em;
  }
}
