.result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 600px) {
  .result {
    max-width: 80em;
  }
}
