.card {
  margin: 2em;
  border: solid 4px #252020;
  box-shadow: 10px 24px 30px #777;
  display: flex;
}

.card > img {
  max-height: 18em;
  max-width: 18em;
  cursor: pointer;
}

.card > img:hover {
  opacity: 0.5;
}
