.App {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* w3c */
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8), 0px 8px 13px rgba(0, 0, 0, 0.6),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
