.photo {
  min-width: 15em;
  min-height: 15em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 2em;
}

.photo-details {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  justify-content: center;
}
