.photo-details-modal {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.photo-details-modal-content {
  padding: 2em;
}

.title {
  display: flex;
  align-items: center;
}

.title > div > img {
  max-width: 7em;
  max-height: 7em;
}

.title > h3 {
  text-align: center;
}

.photo-details {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  justify-content: center;
}

.photo-details-modal > p {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: darkgray;
  margin-right: 1em;
}

.profile-image {
  margin-right: 0.5em;
  display: inline;
}

.profile-image > img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .photo-details-modal {
    min-width: 15em;
    min-height: 15em;
    max-width: 40vw;
    max-height: 50vh;
  }

  .photo-details-modal > p {
    display: none;
  }

  .title > h3 {
    margin-left: 1em;
  }
}
